<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHXYQ82MK7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DHXYQ82MK7');
</script> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={{ or .Params.description .Site.Params.description }}>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">


    <title>{{if eq .RelPermalink "/"}} 
      {{.Site.Title}} 
      {{else}} 
      {{.Title}} | {{.Site.Title}} 
      {{end}}
    </title>
  </head>
  <body>
    
    {{partial "navbar" .}}
   

    <div class="container">
       {{block "main" .}} {{end}} {{partial "footer" .}}
    </div>

  </body>
</html>
