{{define "main"}}


<div class="list">
  <div class="container-featured">
  <div class="posts">
    
    <div class="posts__item posts__item--main">
      <div class="posts__image">
        <img src="https://images.pexels.com/photos/638479/pexels-photo-638479.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Post image">
      </div>
      <div class="posts__information">
        <div class="posts__date">
          November 28, 2015
        </div>
        <div class="posts__title">
          <a href="#">Fantastic Designs Of 2015 Concept Cars</a>
        </div>
      </div>
    </div>
    {{ range where .Data.Pages "Params.featured" "==" true }}
   <div class="posts__item">
      <div class="posts__image">
        <img src="https://images.unsplash.com/photo-1541654056076-0a252e083078?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0973edee71e034b2da232c4f4fe99cef&auto=format&fit=crop&w=500&q=60" alt="Post image">
      </div>
      <div class="posts__information">
        <div class="posts__date">
          November 24, 2015
        </div>
        <div class="posts__title">
          <a href="#">How To Find Design Inspiration In The Simple Things Around You</a>
        </div>
        <div class="posts__author">
          <a href="#">
            <img src="https://randomuser.me/api/portraits/men/33.jpg" alt="Author">
          </a>
        </div>
      </div>
    </div>
    
  {{ end }}
    
    
    
  </div>
</div>
  <!-- Your HTML structure for the slider container -->
{{/*  <div class="slider-container">
  {{ range where .Data.Pages "Params.featured" "==" true }}
    <!-- Individual post item for the slider -->
    <div class="slider-item">
      <!-- Render post content here -->
      <h2>{{ .Title }}</h2>
      <!-- Add other post details as needed -->
    </div>
  {{ end }}
</div>  */}}

  
  <div class="category-sort">
    <h3>Sort by Category:</h3>
    
    {{range $.Site.Taxonomies.categories.ByCount }}
<a href="/categories/{{.Name}}" class="category-list-item">
   {{ .Name}}<small>({{.Count}})</small>
</a>
{{end}}
  </div>
  
  {{range .Paginator.Pages}}
  <div class="listItem"><img src={{ .Params.image}} alt={{ .Title}} class="listItemImage" loading="lazy"/>
  <div class="listItemText">
    <h1 class="listItemTitle">
    <a href={{.Permalink}}>{{.Title}}</a>
  </h1>
  <p class="listItemDesc">{{ .Params.description}}</p>
  <div class="listItemDetail">
    <img src={{.Params.avatar}} loading="lazy" alt="" class="listItemAvatar">
    <span>{{ range ( .GetTerms "authors")}}
        <a href={{.Permalink}}>{{.Name}}</a>
      {{end}}</span>
    <time>{{dateFormat .Site.Params.dateFormat .Date}}</time>
  </div>
  <div class="listItemCategories">
    {{ range (.GetTerms "categories") }}
    <a href={{ .Permalink}} class="listItemCategory">{{ .Name }}</a>
    {{end}}
  </div>
</div>
</div>
  {{end}}
  {{template "_internal/pagination.html" .}}
</div>
{{end}}
