{{define "main"}}


<div class="list">
  <div class="container-featured">
  <div class="posts">
     {{ range where .Data.Pages "Params.featured" "==" "main" }}
    <div class="posts__item posts__item--main">
      <div class="posts__image">
        <img src={{.Params.imageBig}} alt={{.Params.title}}>
      </div>
      <div class="posts__information">
        
        
      </div>
      <div class="posts__date">
          {{dateFormat .Site.Params.dateFormat .Date}}
        </div>
      <div class="posts__title">
          <a style="font-size: 18px; font-weight: 700; " href={{.Permalink}}>{{.Params.title}}</a>
        </div>
    </div>
    {{end}}
    {{ range where .Data.Pages "Params.featured" "==" true }}
   <div class="posts__item">
      <div class="posts__image">
        <img src={{.Params.imageBig}}  alt={{.Params.title}}>
      </div>
      <div class="posts__information">
        <div class="posts__date">
          {{dateFormat .Site.Params.dateFormat .Date}}
        </div>
        <div class="posts__title">
          <a href={{.Permalink}}>{{.Params.Title}}</a>
        </div>
        
      </div>
    </div>
    
  {{ end }}
    
    
    
  </div>
</div>
  <!-- Your HTML structure for the slider container -->
{{/*  <div class="slider-container">
  {{ range where .Data.Pages "Params.featured" "==" true }}
    <!-- Individual post item for the slider -->
    <div class="slider-item">
      <!-- Render post content here -->
      <h2>{{ .Title }}</h2>
      <!-- Add other post details as needed -->
    </div>
  {{ end }}
</div>  */}}

  
  <div class="category-sort">
    <h3>Sort by Category:</h3>
    
    {{range $.Site.Taxonomies.categories.ByCount }}
<a href="/categories/{{.Name}}" class="category-list-item">
   {{ .Name}}<small>({{.Count}})</small>
</a>
{{end}}
  </div>
  
  {{range .Paginator.Pages}}
  <div class="listItem"><img src={{ .Params.image}} alt={{ .Title}} class="listItemImage" loading="lazy"/>
  <div class="listItemText">
    <h1 class="listItemTitle">
    <a href={{.Permalink}}>{{.Title}}</a>
  </h1>
  <p class="listItemDesc">{{ .Params.description}}</p>
  <div class="listItemDetail">
    <img src={{.Params.avatar}} loading="lazy" alt="" class="listItemAvatar">
    <span>{{ range ( .GetTerms "authors")}}
        <a href={{.Permalink}}>{{.Name}}</a>
      {{end}}</span>
    <time>{{dateFormat .Site.Params.dateFormat .Date}}</time>
  </div>
  <div class="listItemCategories">
    {{ range (.GetTerms "categories") }}
    <a href={{ .Permalink}} class="listItemCategory">{{ .Name }}</a>
    {{end}}
  </div>
</div>
</div>
  {{end}}
  {{template "_internal/pagination.html" .}}
</div>
{{end}}
