<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
  <header>
    <div class="header-container">
      <span class="logo"><a href="/"><img src="/images/logo-black.png" alt=""></a></span>
      <nav id="nav">
        <ul id="nav-ul">
          <li><a href="/">Home</a></li>
          <li><a href="/categories">Categories</a></li>
           <li><a href="/about">About</a></li>
          {{/*  <li><a href="#">Search</a></li>  */}}
   
          
        </ul>
      </nav>
      <span class="hamburger" id="button"><i class="fa-solid fa-bars"></i></span>
    </div>
  </header>
</body>

<script>
  const btn = document.getElementById('button');
const nav = document.getElementById('nav-ul');

btn.addEventListener('click', function() {
  nav.classList.toggle ('toggle');
});
</script>