:root {
  --bg: #0b1529;
  --bgSoft: #1f3050;
  --text: #000000;
  --textSoft: #cbd2d9;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tomorrow&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #f0f0f0, #e0e0e0);

  color: var(--text);
  font-family: "Poppins", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*NAVBAR START*/
.navbar {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchbtn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  padding: 5px;
  border-radius: 10px;
}
.logo {
  font-weight: bold;
  font-size: 24px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
/* FOOTER START */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-size: 14px;
}
.social {
  display: flex;
  gap: 10px;
}
/* FOOTER END */

/*NAVBAR END*/

@media (max-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .singleHeadImage {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .logo img {
    max-width: 130px;
  }
  .links {
    font-size: 12px;
  }
  .rightBarImgHr {
    display: block;
  }
  .singleBottom {
    flex-direction: column;
  }
  .rightBarImg {
    display: none;
  }
  .listItem {
    flex-direction: column;
  }
  .listItemImage {
    min-width: 100%;
    object-fit: cover;
  }
  /* .listItem img {
    display: none;
  } */
  .singleHead h1 {
    font-size: 18px;
  }
  .singleHead p {
    max-width: 300px;
  }
  .singleContent,
  .singleContent pre,
  .singleContent p {
    font-size: 15px;
  }
  .singleHeadDetail {
    flex-direction: column;
  }
  .singleHeadDetail img {
    border-radius: 50%;
  }
  .singleCategory {
    display: none;
  }
  .category-sort a {
    font-size: 12px;
  }
  .item .title {
    font-size: 18px;
  }
  .item {
    max-width: 100%;
  }
  /* 
  .link-cat {
    display: block;
  } */

  /* .singleCategoryMob {
    display: block;
  } */
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/*LIST START*/
.listItem {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 240, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
  transition: transform 0.3s ease;
  border-radius: 15px;
  padding: 20px;
}
.listItem:hover {
  transform: scale(1.02);
}
.listItemImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.listItemText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listItemDetail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.listItemAvatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}
.listItemCategories {
  display: flex;
  gap: 10px;
}
.listItemCategory {
  padding: 5px;
  border-radius: 5px;
  background-color: #3498db;
  color: var(--textSoft);
  font-size: 14px;
}

/*LIST END*/

/* SINGLE START */

.singleHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.singleHeadTexts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.singleHeadTitle {
  font-size: 48px;
}

.singleHeadDesc {
  font-size: 20px;
  font-weight: 300;
}
.singleAvatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.singleHeadDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.singleCategory {
  padding: 5px;
  border-radius: 5px;
  background-color: #3498db;
  color: var(--textSoft);
  font-size: 14px;
}
.singleHeadImage {
  flex: 1;
  max-height: 350px;
  object-fit: cover;
}
.singleBottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}
.singleContent {
  flex: 3;
  font-size: 16px;
  line-height: 32px;
}
.singleRightBar {
  flex: 1;
}
.singleContent p,
.singleContent h1,
.singleContent h2,
.singleContent h3 {
  margin: 20px 0px;
}
.singleContent img {
  width: 100%;
  object-fit: cover;
}
.singleContent pre {
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
}
/* SINGLE END */

/* RIGHTBAR START */

.rightBar {
  position: sticky;
  top: 100px;
}
.rightBarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rightBarImgHr {
  display: none;
}

/* RIGHTBAR END */
header {
  position: sticky;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 240, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  z-index: 999;
  margin-bottom: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(90%, 800px);
  margin-inline: auto;
  color: var(--bg);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-size: 20px;
}

nav a:hover {
  color: #4fc3f7;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .toggle {
    transition: ease-in-out 550ms;
    transform: translate(0px);
    opacity: 1;
    display: block;
  }

  .header-container {
    width: 100%;
    padding: 0 1rem;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(240, 240, 240, 0.6),
      rgba(255, 255, 255, 0.8)
    );
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
    transform: translateX(-500px);
    opacity: 0;
  }

  nav li {
    padding: 1rem;
    cursor: pointer;
  }

  nav li:hover {
    background: hsla(0, 0%, 0%, 0.7);
  }

  .hamburger {
    display: block;
  }
}
.singleCategory {
  display: none;
}
.singleCategoryMob {
  padding: 5px;
  background-color: #3498db;
  border-radius: 5px;
}
.logo-main {
  border: 1px white;
}

.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-top: 80px;
  margin-bottom: 30px;
}
.page-item {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  transition: 0.3s ease;
}
.page-item:hover {
  background-color: #2f85be;
  color: white;
  cursor: pointer;
}
.page-item.active {
  background-color: #3498db;
  color: white;
}
.page-item.disabled {
  background-color: #92a9d8;
  color: var(--bg);
  cursor: not-allowed;
}
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
.category-list-item {
  padding: 15px;
  background-color: var(--bgSoft);
  border-radius: 10px;
}
.category-list {
  display: flex;
}
.category-sort {
  display: flex;
  margin-bottom: 50px;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.category-sort a {
  max-width: fit-content;
  background-color: #3498db;
  transition: background-color 0.3s ease;
}
.category-sort a:hover {
  background-color: #2980b9;
}
.logo img {
  max-width: 300px;
}
.singleContent li {
  margin-left: 25px;
}

.singleContent a {
  text-decoration: underline;
}
.container-featured {
  max-width: 1200px;
  min-width: 320px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.posts__item {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 22px;
  position: relative;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 240, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
  transition: transform 0.3s ease;
}

.posts__item--main {
  flex-basis: 66%;
}
.posts__item--main:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.posts__item--main .posts__image {
  display: flex;
  flex-grow: 1;
}
.posts__item--main .posts__information {
  position: absolute;
  bottom: 35px;
  left: 50px;
  padding: 0 25px 0 0;

  z-index: 1;
}
.posts__item--main .posts__title a {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.75px;
}
.posts__image > img {
  display: block;
  width: 100%;
}
.posts__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 5px;
  color: var(--text);
  flex-grow: 1;
}
.posts__date {
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.325px;
  color: #818181;
  text-transform: uppercase;
  font-weight: 600;
  margin: 7px 0;
}
.posts__title {
  margin-top: 7px;
  margin-bottom: auto;
}
.posts__title a {
  font-size: 22px;
  line-height: 30px;
  color: var(--text);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}
.posts__title a:hover {
  text-decoration: underline;
}
.posts__author {
  margin-top: 55px;
}
.posts__author img {
  border-radius: 50px;
  width: 60px;
}
@media screen and (max-width: 992px) {
  .posts__information {
    padding: 10px 15px 15px 15px;
  }
  .posts__date {
    font-size: 12px;
  }
  .posts__title a {
    font-size: 16px;
    line-height: 24px;
  }
  .posts__item--main .posts__information .post-title a {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 768px) {
  .posts__title {
    max-width: 300px;

    margin-top: 0;
  }
  .posts__title a {
    font-size: 14px;
  }
  .posts__item {
    flex-basis: 49%;
  }
  .posts__item--main {
    flex-basis: 100%;
    justify-content: center;
  }
  .posts__item--main .posts__image {
    display: block;
  }
  .posts__item--main .posts__information {
    width: 100%;
    bottom: auto;
    left: auto;
    align-items: center;
    text-align: center;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .posts__item {
    flex-basis: 100%;
  }
}
.featured-head {
  margin: auto;
  margin-bottom: 40px;
  padding: 15px;
  max-width: fit-content;
  border-radius: 10px;
  background-color: #3498db;
  transition: background-color 0.3s ease;
}

.categoryMain {
  flex-wrap: wrap;
}
.about-section {
  max-width: 100%;
}

.about-content {
  text-align: justify;
  margin: 30px 0;
}
.about-content p {
  margin-bottom: 20px;
}

.about-content img {
  max-width: 300px;
}
.team-members {
  margin-top: 30px;
}

.team-member {
  text-align: center;
  width: 200px;
  height: 250px;
  margin-top: 20px;
  padding: 15px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 240, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
  transition: transform 0.3s ease;
  border-radius: 10px;
  margin: 20px;
}
.team-member:hover {
  transform: scale(1.02);
}
.team-member h3 {
  margin: 10px 0;
}
.team-member img,
.team-member svg {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 5px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-heading {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 28px;
}
.about-heading img {
  max-width: 300px;
}
@media (max-width: 982px) {
  .about-heading img {
    max-width: 200px;
  }
  .about-heading {
    font-size: 20px;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .team-member {
    margin: 5px;
    max-width: 150px;
    height: 260px;
  }
  .logo img {
    max-width: 150px;
  }
  .team-member p {
    font-size: 12px;
  }
}
.team-member .social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@media (max-width: 350px) {
  .team-member {
    margin: 10px;
    max-width: 100px;
    max-height: 200px;
  }
  .team-member img,
  .team-member svg {
    max-width: 50px;
  }
  .team-member h3 {
    max-width: 80px;
    font-size: 14px;
  }
  .logo img {
    max-width: 120px;
  }
  .about-heading img {
    max-width: 120px;
  }
  .about-heading {
    font-size: 12px;
    gap: 8px;
  }
  .item .title {
    font-size: 13px;
  }
}
.contribute {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.contribute-link {
  text-align: center;
  max-width: auto;
  padding: 30px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 240, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
  transition: transform 0.3s ease;
  border-radius: 15px;
}
.contribute-link:hover {
  transform: scale(1.02);
}
.contribute-link h2,
.contribute-link p {
  margin-bottom: 10px;
}
.team-member p {
  padding: 5px;
  border-radius: 5px;
}
.founder {
  background-color: #e74c3c;

  color: white;
}
.role {
  display: flex;
  align-items: center;
  justify-content: center;
}
.maintainer {
  background-color: #2ecc71;
  color: white;
}
.contributor {
  background-color: #f39c12;
  color: white;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.category {
  max-width: 1170px;
  /*   display: flex; */
  /*   flex-wrap: wrap; */
  /*   justify-content: center; */
  gap: 20px;
  /*   row-gap: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  width: 100%;
}

.item {
  position: relative;
  /*   min-width: 370px; */
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background: #ffffff;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(240, 240, 240, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
  transition: transform 0.5s ease;
  border-radius: 10px;
  text-decoration: none;

  z-index: 0;
}

.item:hover {
  transform: scale(1.02);
}

.item .title {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  /* Основной текст */
  color: #2f3035;
  padding-left: 20px;
  padding-top: 20px;
}

.item:hover > .title {
  color: #1c62cd;
}

.item .link {
  font-size: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  /* светло серый текст */
  color: #c4c4c4;
}

.item .link::after {
  content: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.228824 7.88793C-0.0650262 8.13366 -0.0762933 8.54196 0.203658 8.79989C0.48361 9.05782 0.948767 9.06771 1.24262 8.82198C1.24262 8.82198 5.77719 4.97116 5.78955 4.95998C6.07934 4.69388 6.06851 4.27195 5.76535 4.01758L1.24266 0.178763C0.949277 -0.067399 0.484101 -0.0581918 0.203658 0.199327C-0.0767845 0.456847 -0.0662956 0.865161 0.227086 1.11132L3.71295 4.12125C3.94389 4.32066 3.94393 4.67861 3.71304 4.87807L0.228824 7.88793Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
  margin-left: 3px;
  transition: 0.5s;
}

.item:hover > .link::after {
  margin-left: 8px;
}

.item .img {
  position: absolute;
  right: 37px;
  top: 22px;
  z-index: -1;
}
.page-four {
  margin: 0;
  padding: 0;
  font-family: "Tomorrow", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #2e1753,
    #1f1746,
    #131537,
    #0d1028,
    #050819
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 40%;
  color: #fff;
  text-align: center;
}
.page-four h1 {
  font-size: 50px;
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  right: 0;
  animation: starTwinkle 3s infinite linear;
}
.astronaut img {
  width: 100px;
  position: absolute;
  top: 55%;
  animation: astronautFly 6s infinite linear;
}
@keyframes astronautFly {
  0% {
    left: -100px;
  }
  25% {
    top: 50%;
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(45deg);
    top: 55%;
  }
  75% {
    top: 60%;
    transform: rotate(30deg);
  }
  100% {
    left: 110%;
    transform: rotate(45deg);
  }
}
@keyframes starTwinkle {
  0% {
    background: rgba(255, 255, 255, 0.4);
  }
  25% {
    background: rgba(255, 255, 255, 0.8);
  }
  50% {
    background: rgba(255, 255, 255, 1);
  }
  75% {
    background: rgba(255, 255, 255, 0.8);
  }
  100% {
    background: rgba(255, 255, 255, 0.4);
  }
}
