:root {
  --bg: #0b1529;
  --bgSoft: #1f3050;
  --text: #dee4eb;
  --textSoft: #cbd2d9;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*NAVBAR START*/
.navbar {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  display: flex;

  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchbtn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  padding: 5px;
  border-radius: 10px;
}
.logo {
  font-weight: bold;
  font-size: 24px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
/* FOOTER START */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-size: 14px;
}
.social {
  display: flex;
  gap: 10px;
}
/* FOOTER END */

/*NAVBAR END*/

@media (max-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .singleHeadImage {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .logo {
    font-size: 20px;
  }
  .links {
    font-size: 12px;
  }
  .rightBarImgHr {
    display: block;
  }
  .singleBottom {
    flex-direction: column;
  }
  .rightBarImg {
    display: none;
  }
  .listItem img {
    display: none;
  }
  .singleHead h1 {
    font-size: 18px;
  }
  .singleHead p {
    max-width: 300px;
  }
  .singleContent,
  .singleContent pre,
  .singleContent p {
    font-size: 12px;
  }
  .singleHeadDetail {
    flex-direction: column;
  }
  .singleHeadDetail img {
    border-radius: 50%;
  }
  .singleCategory {
    display: none;
  }
  /* 
  .link-cat {
    display: block;
  } */

  /* .singleCategoryMob {
    display: block;
  } */
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/*LIST START*/
.listItem {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.listItemImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.listItemText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listItemDetail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.listItemAvatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}
.listItemCategories {
  display: flex;
  gap: 10px;
}
.listItemCategory {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  font-size: 14px;
}

/*LIST END*/

/* SINGLE START */

.singleHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.singleHeadTexts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}
.singleHeadTitle {
  font-size: 48px;
}

.singleHeadDesc {
  font-size: 20px;
  font-weight: 300;
}
.singleAvatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.singleHeadDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}
.singleCategory {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  font-size: 14px;
}
.singleHeadImage {
  flex: 1;
  max-height: 350px;
  object-fit: cover;
}
.singleBottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}
.singleContent {
  flex: 3;
  font-size: 16px;
  line-height: 32px;
}
.singleRightBar {
  flex: 1;
}
.singleContent p,
.singleContent h1,
.singleContent h2,
.singleContent h3 {
  margin: 20px 0px;
}
.singleContent img {
  width: 100%;
  object-fit: cover;
}
.singleContent pre {
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
}
/* SINGLE END */

/* RIGHTBAR START */

.rightBar {
  position: sticky;
  top: 100px;
}
.rightBarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rightBarImgHr {
  display: none;
}

/* RIGHTBAR END */
header {
  position: sticky;
  top: 0;
  background: hsla(0, 0%, 0%, 0.6);
  padding: 1rem 0;
  z-index: 999;
  margin-bottom: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(90%, 800px);
  margin-inline: auto;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #4fc3f7;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .toggle {
    transition: ease-in-out 550ms;
    transform: translate(0px);
    opacity: 1;
    display: block;
  }

  .header-container {
    width: 100%;
    padding: 0 1rem;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(10px);
    transform: translateX(-500px);
    opacity: 0;
  }

  nav li {
    padding: 1rem;
    cursor: pointer;
  }

  nav li:hover {
    background: hsla(0, 0%, 0%, 0.7);
  }

  .hamburger {
    display: block;
  }
}
.singleCategory {
  display: none;
}
.singleCategoryMob {
  padding: 5px;
  background-color: var(--bgSoft);
}
